.intro {
  background-image: url("/source/img/hero-image.jpg");
  background-repeat: no-repeat;
  background-color: @main-color;
  width: 100%;
  height: 389px;
}

.intro__text-image {
  display: block;
  margin: auto;
  padding-top: 90px;
}

@media (min-width: @tablet-width) or (min-width: @desktop-width) {
  .intro__text-image {
    padding-top: 77px;
    width: 461px;
    height: 350px;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    height: 518px;
  }
}

@media (min-width: @desktop-width) {
  .intro__text-image {
    padding-top: 78px;
  }
}
