.specifics-list {
  display: grid;
  row-gap: 25px;
  margin: 23px 18px 46px;
  padding-left: 47px;
  list-style-type: none;
}

.specifics-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding-top: 8px;
}

.specifics-list__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding-top: 16px;
}

